{% load blog_tags %}
{% for post in posts %}
    <div class="post-snippet">
        <div class="post-title">
                <span class="label">{{ post.publish.day }} {{ post.publish.month|month }}</span>
                <a href="{{ post.get_absolute_url }}">
                    <h4 class="inline-block">{{ post.title }}</h4>
                </a>
        </div>
        <ul class="post-meta list-unstyled list-inline">
            <li>
                <i class="fa fa-user"></i>
                <span>by Minalinsky </span>
            </li>
        </ul>
        <blockquote> {{ post.description }} </blockquote>
        <ul class="post-meta list-unstyled list-inline">
            <li><span>Tags:</span></li>
            {% for tag in post.tags.all %}
                <li><span>
                    <a href="{% url "blog:post_list_by_tag" tag.slug %}">
                        {{ tag.name }}
                    </a>
                </span></li>
                {% if not forloop.last %}, {% endif %}
            {% empty %}
                <li><span>There isn't tag for this post yet.</span></li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}